<p id="text">
        Pick Your Next Trip
</p>

<% country_id = params["id"] %>
<% countries = Country.read(country_id) %>
<% trips = Trip.read("Country_id" => countries["id"]) %>


<ul>

  <% trips.each do |run| %>

    <li>
         <%= link_to run["Name"], "/trip/#{run["id"]}" %></li>
      <li>   <%=link_to image_tag(run["Picture_url"]), "/trip/#{run["id"]}" %></li>
         <li><%= run["Description"] %></li>
         <li><%= image_tag(run["Budget_url"]) %></li>
         <li><%= image_tag(run["Priority_url"]) %></li>
         <li><%= image_tag(run["Itinerary_url"]) %>
    </li>
  <% end %>
</ul>

