

<div class="page-header">
  <h1>Add a New Region</h1>
</div>

<div class="row">
  <div class="col-md-5">

    <%= form_tag "/region", "method" => "post"  %>

      <div class="form-group">
        <%= label_tag "Region", "What is the Region Name?" %>
        <%= text_field_tag "Region", "", "class" => "form-control" %>
      </div>


      <div class="form-group">
        <%= label_tag "Banner Picture", "Link to a Region image" %>
        <%= text_field_tag "url", "", "class" => "form-control" %>
      </div>



      <%= submit_tag "Add This Region", "class" => "btn btn-lg btn-success" %> or <%= link_to "Cancel", "/" %>

    </form>
</div>
</div>
