<% trip_id = params["id"] %>
<% trips = Trip.read(trip_id) %>
<% itineraries = Itinerary.read("Trip_id" => trips["id"]) %>
<% contacts = Contact.read("Trip_id" => trips["id"]) %>

<ul>
<h2> Itinerary </h2>

<% itineraries.each do |run| %>
<p><%= image_tag(run["Itinerary_url"]) %></p>
<strong>Day </strong> <%= run["Day"] %>
<li> <strong> City: </strong> <%= run["City"] %>  </li>
<li> <strong> Activity: </strong> <%= run["Activity"] %>  </li>
<li> <strong> Hotel: </strong> <%= run["Hotel"] %>  </li>
<li> <strong> Transportation: </strong> <%= run["Transportation"] %>  </li>
<hr>
<% end %>
</ul>
<p></p>

<ul>
<h2> Booking Contacts For Your Adventure </h2>
<% contacts.each do |run| %>
<li> <strong> Type of Event: </strong> <%= run["Type"] %>  </li>
<li> <strong> Company Name: </strong>   <%= link_to run["Company_name"] , run["Website"] %> </li>
<li> <strong> Personal Contact (if any): </strong>  <%= run["Contact"] %> </li>
<li> <strong> Address:  </strong> <%= run["Address"] %> </li>
<li> <strong> Phone Number: </strong>  <%= run["Phone_number"] %> </li>
<hr>
<p>
</p>
<% end %>
</ul>

