<% trip_id = params["id"] %>
<% trips = Trip.read(trip_id) %>
<% itineraries = Itinerary.read("Trip_id" => trips["id"]) %>
<% contacts = Contact.read("Trip_id" => trips["id"]) %>
<% order = contacts.order("Type asc") %>

<ul class="list-unstyled">
  <h2><button type="button" class="btn btn-primary btn-lg btn-block disabled">
    <span class="glyphicon glyphicon-plane"> </span> Itinerary </button></h2>

<% itineraries.each do |run| %>
  <% if run["Day"] ==1 %>
     <button type="button" class="btn btn-default btn-lg btn-block disabled">
        <%= run["Name"] %>
     </button>
   </br>
   <p><%= image_tag(run["Itinerary_url"], "class" => "itinerary_banner") %><p>
 <% end %>

 <ul class="list-group">
  <li class="list-group-item list-group-item-info"> <strong>Day </strong> <%= run["Day"] %></li>
   <li class="list-group-item">  <strong> City: </strong> <%= run["City"] %>  </li>
   <li class="list-group-item">  <strong> Activity: </strong> <%= run["Activity"] %>  </li>
   <li class="list-group-item">  <strong> Hotel: </strong> <%= run["Hotel"] %>  </li>
   <li class="list-group-item">  <strong> Transportation: </strong> <%= run["Transportation"] %>  </li>
 <hr>
<% end %>
</ul>
<p></p>

<table class="table table-bordered table-striped table-hover table-condensed">
  <tr>
    <th>Event Type</th>
    <th>Company Name</th>
    <th>Personal Contact (if any)</th>
    <th>Address</th>
    <th>Phone Number(if any)</th>
  </tr>
  <% order.each do |run| %>
  <tr class="active">
    <td><%= run["Type"] %></td>
    <td><%= link_to run["Company_name"], run["Website"] %></td>
    <td><%= run["Contact"] %></td>
    <td><%= run["Address"] %></td>
    <td><%= run["Phone_number"] %></td>
  </tr>
  <% end %>
</table>

<h3> <span class="label label-danger"> Check back for new Itineraries every Sunday! </span> </h3>




