<% trip_id = params["id"] %>
<% trips = Trip.read(trip_id) %>
<% itineraries = Itinerary.read("Trip_id" => trips["id"]) %>


<% itineraries.each do |run| %>
<li> Itinerary: <%= image_tag(run["Itinerary_url"]) %></li>
<p></p>
<strong>Day <%= run["Day"] %></strong>
<li> City: <%= link_to run["City"], "/itinerary/#{run["id"]}"  %></li>
<li> Activity: <%= run["Activity"] %> </li>
<li> Hotel: <%= link_to run["Hotel"], "/itinerary/#{run["id"]}" %></li>
<li> Transportation: <%= link_to run["Transportation"], "/itinerary/#{run["id"]}"  %></li>
<p></p>
<% end %>



