


<% trips = Trip.read %>


<% trips.each do |run| %>

<%= link_to run["Name"], "/itinerary/show" %>
<li> <%= link_to image_tag(run["Picture_url"]), "/itinerary/show" %></li>
<li> <%= run["Description"] %> </li>
<li> <%= image_tag(run["Budget_url"]) %></li>
<li> <%= image_tag(run["Priority_url"]) %></li>
<li> <%= image_tag(run["Itinerary_url"]) %></li>
<% end %>



