  <p id="text">
        Book Your Excursions
    </p>
<button type="button" class='btn btn-lg btn-primary btn-block'>Contacts</button>

<% contacts = Contact.read %>
<ul class="list-unstyled">
<% contacts.each do |run| %>
<h3> <strong>  <%= run["Name"] %> </strong> </h3>
<li> <strong> Type of Event: </strong> <%= run["Type"] %>  </li>
<li> <strong> Company Name: </strong>   <%= link_to run["Company_name"] , run["Website"] %> </li>
<li> <strong> Personal Contact (if any): </strong>  <%= run["Contact"] %> </li>
<li> <strong> Address:  </strong> <%= run["Address"] %> </li>
<li> <strong> Phone Number: </strong>  <%= run["Phone_number"] %> </li>
<hr>
<p>
</p>
<% end %>
</ul>
