  <p id="text">
        Feast On Our Amazing Itineraries
    </p>

<% itinerary = Itinerary.read %>


<button type="button" class='btn btn-lg btn-primary btn-block'>Itineraries</button>

<% itinerary.each do |run| %>

<h2> <%= run["Name"] %> </h2>
<%= image_tag(run["Itinerary_url"]) %>
<div class="row">
<strong> Day </strong> <%= run["Day"] %>
<ul class="list-unstyled">
<li> <strong> City </strong> <%= run["City"] %> </li>
<li> <strong> Activities </strong> <%= run["Activity"] %> </li>
<li> <strong> Hotel </strong> <%= run["Hotel"] %></li>
<li> <strong> Transporation </strong> <%= run["Transportation"] %></li>
</div>
<hr>

</ul>
<% end %>



