  <p id="text">
        Feast On Our Amazing Itineraries
    </p>

<% itinerary = Itinerary.read %>

<ul>
<% itinerary.each do |run| %>

Day <%= run["Day"] %>
<li> City <%= run["City"] %> </li>
<li> Activities <%= link_to run["Activity"], "/itinerary/show" %> </li>
<li> Hotel <%= link_to run["Hotel"], "/itinerary/show" %></li>
<li> Transporation <%= link_to run["Transportation"], "/itinerary/show" %></li>
<p> </p>

<% end %>

</ul>
