  <p id="text">
        Feast On Our Amazing Itineraries
    </p>

<% itinerary = Itinerary.read %>

<ul>
<h1> Itineraries </h1>

<% itinerary.each do |run| %>

<h3> <strong>  <%= run["Name"] %> </strong> </h3>
<%= image_tag(run["Itinerary_url"]) %>
<strong> Day </strong> <%= run["Day"] %>
<li> <strong> City </strong> <%= run["City"] %> </li>
<li> <strong> Activities </strong> <%= run["Activity"] %> </li>
<li> <strong> Hotel </strong> <%= run["Hotel"] %></li>
<li> <strong> Transporation </strong> <%= run["Transportation"] %></li>
<p> </p>
<% end %>

</ul>

