<% itinerary_id = params["id"] %>
<% itineraries = Itinerary.read(itinerary_id) %>
<% contacts = Contact.read("Trip_id" => itineraries["id"]) %>

<ul>
<% contacts.each do |run| %>
<li>Type of Event:   <%= run["Type"] %> </li>
<li>Company Name:   <%= link_to run["Company_name"] , run["Website"] %> </li>
<li>Personal Contact (if any):   <%= run["Contact"] %> </li>
<li>Address:   <%= run["Address"] %> </li>
<li>Phone Number:   <%= run["Phone_number"] %> </li>
<p></p>
<% end %>
</ul>


