<!DOCTYPE html>
<html>
  <head>
    <title>Ex-Travel-Ganza</title>
    <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  </head>
<body>

<div class="container">

        <div class="row">

             <img src="http://clubscachefly.cachefly.net/203/images/category/banner_caribbean.jpg" class="img-responsive" alt="Responsive image" id="topimage">


       </div>

<div class="bar">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="/">Regions</a></li>
    <li><a href="/country">Countries</a></li>
    <li><a href="/trip">Trips</a></li>
    <li><a href="/itinerary">Itineraries</a></li>
    <li><a href="/contact">Contacts</a></li>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href="/login">Sign In</a></li>
    <li><a href="/logout">Log Out</a></li>
  </ul>
  </div>

 <% user = User.find_by("id" => cookies["user_id"]) %>
            <% if user.present? %>
              Welcome <%= user["name"] %>
              <% end %>




<div id="page_start">
</div>

<%= yield %>
</div>
</body>
</html>
