<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
    <img id="image" src="http://clubscachefly.cachefly.net/203/images/category/banner_caribbean.jpg"/>
</div>


<div id="banner">
<%= link_to "Region", "/" %>  |  <%= link_to "Country", "/country" %>  |  <%= link_to "Trip", "/trip" %>  |  <%= link_to "Itinerary", "/itinerary" %>  |  <%= link_to "Contact", "/contact" %>
</div>
<hr>
<div id="page_start">
</div>
<%= yield %>
</body>
</html>
