<!DOCTYPE html>
<html>
  <head>
    <title>Ex-Travel-Ganza</title>
    <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  </head>
<body>

<div class="container">

        <div class="row">

             <img src="http://clubscachefly.cachefly.net/203/images/category/banner_caribbean.jpg" class="img-responsive" alt="Responsive image" id="topimage">


       </div>

<div class="row">
<div class="banner col-md-6">


<%= link_to "Regions", "/" %>  |  <%= link_to "Countries", "/country" %>  |  <%= link_to "Trips", "/trip" %>  |  <%= link_to "Itineraries", "/itinerary" %>  |  <%= link_to "Contacts", "/contact" %>
</div>

  <div class="banner col-md-4 col-md-offset-8">

            <% user = User.find_by("id" => cookies["user_id"]) %>
            <% if user.present? %>
              Welcome <%= user["name"] %>
               | <%= link_to "Sign Out", '/logout' %>
            <% else %>
              <%= link_to "Sign Up", '/users/new' %> |
              <%= link_to "Sign In", '/login' %>
            <% end %>
    </div>
</div>
<div id="page_start">
</div>

<%= yield %>
</div>
</body>
</html>
